
@font-face {
    font-family: Rubik;
    src: url(FONTS/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: Catamaran;
    src: url(FONTS/Catamaran-VariableFont_wght.ttf);
}

@font-face {
    font-family: reeler;
    src: url(FONTS/Reeler_PersonalUse.ttf);
}

@font-face {
    font-family: Rubik Italic;
    src: url(FONTS/Rubik-Italic-VariableFont_wght.ttf);
}

body {
    /* Old browsers */
    background: #f2d9c2;
    /* Chrome 10-25, Safari 5.1-6 */
    background: #f2d9c2;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #f2d9c2;
    margin: 0;
    padding: 0;
  }

header{
    z-index: 1;
    background-color:#2e1c0c;
    

}
nav{background-color:#2e1c0c;
    box-sizing: border-box;
    overflow: hidden;
  

}

nav img{display:block;
    width: 20%;
    margin: 0 auto; 
    padding: 15px 0px;


}

.intro {font-family: Catamaran;
color: rgb(80, 75, 75);
text-align: center;
position: relative;
top:10px

}




#images{width: 200px;
    border-radius: 50%;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 30px;
    margin: auto 20px auto 60px;}




h2{font-size: 35px;}

.members .member{ display: inline-block;
width:200px;
position: relative;
left: 50px
}

.member.memberdescription{ position: relative;
margin: 10px auto 20px 20px;
width:450px
}


.interseccion{ height: 100px;
margin: 30px 0 50px;
;
}

h1{ text-align: center;
font-family: reeler;
font-weight: bold;
font-size: 40px;
letter-spacing: 4px;
color: rgb(243, 177, 78);
padding: 0 0 20px 0;
position: relative;
bottom: 0px;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;


}

h1 img{ width: 200px;
display: inline-block;
margin: 0 auto;
position: relative;
top: 20px;
padding: 10px 0 0 0;
}


h1 span{margin-left: 5px;}



footer{background-color: #2e1c0c;
margin-top: 20px;
height: 100px;
}

footer span{text-align: center;
display: block;
margin-top: 40px;
position:relative;
top: 40px;

color:rgb(77, 50, 10);
opacity: 50%;
font-size: 15px;
font-family: Rubik;
}








main{overflow: hidden;
position: relative;
font-family: Rubik;

}

